.knarr-building {
  display: inline-block;
  position: relative;
  width: 124px;
  height: 173px;
  border-radius: 8px;

  .card-sides {
      .card-side {
          border-radius: 8px;
          background-size: auto 400%;
          background-image: url('img/skali/buildings.jpg');

          &>* {
              pointer-events: none;
              user-select: none;
          }

          &.back {
            background-position: #{1 * 100% / 9} 0%;
          }
      }
  }    

  &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
      &:not(.bga-cards_selected-card) {
          animation: selectable-card-animation 1s alternate infinite ease-in-out;
      }

      .card-side {
          box-shadow: unset;
      }
  }    

  &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
      box-shadow: 0 0 5px 5px orange;

      .card-side {
          box-shadow: unset;
      }
  }

    @for $number from 1 through 8 {
        .front[data-number="#{$number}"] {
            background-position: #{($number + 1) * 100% / 9} 0%;
        }
    }
    @for $number from 9 through 18 {
        .front[data-number="#{$number}"] {
            background-position: #{($number - 9) * 100% / 9} 33.3333%;
        }
    }
    @for $number from 19 through 28 {
        .front[data-number="#{$number}"] {
            background-position: #{($number - 19) * 100% / 9} 66.6666%;
        }
    }
    @for $number from 29 through 35 {
        .front[data-number="#{$number}"] {
            background-position: #{($number - 29) * 100% / 9} 100%;
        }
    }
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px rgb(255, 212, 131);
  }
  100% { 
    box-shadow: 0 0 5px 3px rgb(255, 212, 131);
  }
}
