.knarr-card {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 221px;
    border-radius: 8px;

    &.disabled {
      cursor: not-allowed;
      filter: contrast(0.6);
    }

    .card-sides {
        .card-side {
            border-radius: 8px;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            /*&.back {  
                background-size: auto 100%;
                background-image: url('img/card-back.jpg');
            }*/

            &.front {
                background-size: auto 100%;
                background-image: url('img/cards.jpg');
            }
        }
    }    

    &.selectable:not(.disabled) {
        cursor: pointer;
        &:not(.selected) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.selected:not(.disabled) {
        box-shadow: 0 0 5px 5px orange;

        .card-side {
            box-shadow: unset;
        }
    }

    @for $color from 1 through 5 {
        @for $gain from 1 through 4 {
            .front[data-color="#{$color}"][data-gain="#{$gain}"] {
                background-position-x: #{(($color - 1) * 4 + $gain) * 100% / 20};
            }
        }
    }
}

@keyframes selectable-card-animation {
    0% {
      box-shadow: 0 0 3px 2px white;
    }
    100% { 
      box-shadow: 0 0 5px 3px white;
    }
}
