.card.token {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 68px;
    box-shadow: none;

    &.disabled {
      cursor: not-allowed;
      filter: contrast(0.6);
    }

    .card-sides {
        .card-side {
            box-shadow: none;
            border-radius: 10px;
            background-size: auto 100%;
            background-image: url('img/tokens.png');

            &>* {
                pointer-events: none;
                user-select: none;
            }
        }
    } 

    &.selected:not(.disabled) {
        box-shadow: 0 0 5px 5px orange;
        border-radius: 50%;
    }

    @for $type from 1 through 5 {
        .front[data-type="#{$type}"] {
            background-position-x: #{($type) * 100% / 5};
        }
    }
}

.token-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: auto 100%;
    background-image: url('img/tokens.png');
    vertical-align: middle;

    @for $type from 1 through 5 {
        &[data-type="#{$type}"] {
            background-position-x: #{($type) * 100% / 5};
        }
    }
}

/*@keyframes selectable-card-animation {
    0% { 
      //background: var(--background-lighter);
      box-shadow: 0 0 3px 2px #FFFFFF;
    }
    100% { 
      //background: var(--background-darker);
      box-shadow: 0 0 5px 3px #FFFFFF;
    }
}*/
