@import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-cards/bga-cards';
@import 'cards';
@import 'tokens';
@import 'chiefs';
@import 'table-center';
@import 'playerboards';
@import 'player-table';

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

@font-face {
  font-family: 'komika parch';
  src: url('img/komikap-webfont.woff2') format('woff2'),
       url('img/komikap-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }
}

#round-counter-row {
  display: flex;
  justify-content: center;

  #round-counter-block {
    background: #FFFFFF99;
    font-size: 120%;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 10px;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    color: white;
  }
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;

  #tables {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
  }

  &.double-column {
    flex-direction: row;
    justify-content: center;
    align-items: start;

    &>div {
      flex: 1;
    }
  }
}

#last-round {
    margin: 5px -5px -5px;
    text-align: center;
    background-color: #900;
    color: white;
    text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;

    .last-round-text {
        display: inline-block;

        &.animate {
            animation: last-round-animation 2s 1 forwards ease-in-out;
        }
    }
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% { 
    transform: scale(1);
  }
}