@import '../node_modules/bga-zoom/bga-zoom';
@import '../node_modules/bga-cards/bga-cards';
@import 'cards';
@import 'table-center';
@import 'playerboards';
@import 'player-table';

@font-face {
  font-family: 'p22_undergroundheavy';
  src: url('img/p22underground-heavy-webfont.woff2') format('woff2'),
       url('img/p22underground-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg');
  background-position: top center;
  background-repeat: repeat;
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;

  #tables {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
  }
}

@media (min-width: 1500px) { 
  #tables-and-center {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;

    &>div {
      flex: 1
    }
  }
}

.player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('img/hand.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.player-line-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('img/card-line.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.log {
  [data-color="1"] {
    color: #ED1B24;
  }
  [data-color="2"] {
    color: #009BDE;
  }
  [data-color="3"] {
    color: #3AB54A;
  }
  [data-color="4"] {
    color: #FFC30D;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  }

  

  .jackpot-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: auto 100%;
    background-image: url('img/jackpot-icons.png');

    @for $color from 1 through 4 {
        &[data-color="#{$color}"] {
            background-position-x: #{($color - 1) * 100% / 3};
        }
    }
  }

}