#table-center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#table-center {
  width: 690px;
  min-width: 690px;
}

#board {
  width: 690px;
  height: 256px;
  background: url('img/board.jpg');
}